---
- name: Include database check tasks
  ansible.builtin.include_tasks: "{{ playbook_dir }}/tasks/db-check.yml"

- name: ODOO | Update DB
  ansible.builtin.shell: "{{ deploy_folder }}/current/venv/bin/odoo module upgrade -c {{ odoo_conf }} -d {{ dbname }} all"
  when: database_exists | default(false)

- name: ODOO | Service start
  become: true
  ansible.builtin.systemd:
    name: "{{ odoo_service }}"
    state: started

- name: NGINX | Creating a symlink for odoo
  become: true
  ansible.builtin.file:
    src: "/etc/nginx/sites-available/{{ nginx_odoo_conf }}"
    dest: "/etc/nginx/sites-enabled/{{ nginx_enabled_conf }}"
    state: link
    force: true

- name: NGINX | Service reload
  become: true
  ansible.builtin.systemd:
    name: nginx
    state: reloaded
