---
- name: ODOO | Update DB
  ansible.builtin.shell: "{{ deploy_folder }}/current/venv/bin/odoo -c {{ odoo_conf }} --no-http -d {{ dbname }} -u all --i18n-overwrite --stop-after-init"

- name: ODOO | Service start
  become: true
  ansible.builtin.systemd:
    name: "{{ odoo_service }}"
    state: started

- name: NGINX | Creating a symlink for odoo
  become: true
  ansible.builtin.file:
    src: "/etc/nginx/sites-available/{{ nginx_odoo_conf }}"
    dest: "/etc/nginx/sites-enabled/{{ nginx_enabled_conf }}"
    state: link
    force: true

- name: NGINX | Service reload
  become: true
  ansible.builtin.systemd:
    name: nginx
    state: reloaded
